extends layout

block content

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            //
               Brand and toggle get grouped for better mobile display 
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') MAID
            //
               Collect the nav links, forms, and other content for toggling 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/managerIndex') Home
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tools
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listMasterTool') List Tools
                    li
                      a(href='/addMasterTool') Add Tools
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Inventory
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listInventory') List Inventory
                    li
                      a(href='/addInventory') Add Inventory
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Service Request
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listRequest') List Service Requests
                    li
                      a(href='/addRequest') Add Service Request
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tool Request
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/approveRequest') Approve Tools Requests
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Reports
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/maintReportManager') Maintenance Reports
                    li
                      a(href='/damageReport') Damage Reports
              ul.nav.navbar-nav.navbar-right 
                img.dl-horizontal(src="images/gear2.png" href='/engineerIndex')

             
            //
               /.navbar-collapse 
          //
             /.container-fluid 

    h1= title
    p 


                    doctype html
                    h1.text-center Edit Inventory
                    html

                        <div class="container theme-showcase" role="main">
                        <div class="jumbotron">
                        head
                            title Test
                        body
    for item in list 
        //allows us to get data inside array passed in route.get func
        h3 Edit #{item._TIMaster.MTName}
        form(name='deleteInventory', action='/deleteInventory', method='post')
            button(class='btn btn-default', name='id', type='submit', value='#{item._id}') Delete 
                //allows hiding of one data value inside button
                // actions need to be inside forms
        br

        form(name='editInventory', action='/updateInventory', method='POST', role='form')
            div.form-group
              label Serial number
              input(class='form-control', name='Serial', type='text' value='#{item._TISerialNumber}')
            div.form-group
              label Install Date
                //if for displaying date as value (should cover all issues as date must be YYYY-MM-DD)
              -var month = item.TIInstallDate.getMonth() + 1
              -var day = item.TIInstallDate.getDate()
              if (month < 10)
                if (day < 10)
                    input(class='form-control', name='Install', value='#{item.TIInstallDate.getFullYear()}-0#{item.TIInstallDate.getMonth()+1}-0#{item.TIInstallDate.getDate()}' type='date')
                else    
                    input(class='form-control', name='Install', value='#{item.TIInstallDate.getFullYear()}-0#{item.TIInstallDate.getMonth()+1}-#{item.TIInstallDate.getDate()}' type='date')
              else
                if (day < 10)
                    input(class='form-control', name='Install', value='#{item.TIInstallDate.getFullYear()}-#{item.TIInstallDate.getMonth()+1}-0#{item.TIInstallDate.getDate()}' type='date')
                else
                    input(class='form-control', name='Install', value='#{item.TIInstallDate.getFullYear()}-#{item.TIInstallDate.getMonth()+1}-#{item.TIInstallDate.getDate()}' type='date')      
            
            div.form-group
              label Tool Location
              select(class='form-control' name='ToolLocation', value='#{item.ToolLocation}')
                option(value='NorthEastUSA') NE USA
                option(value='SouthEastUSA') SE USA
                option(value='MidWestUSA') Mid West USA
                option(value='WesternEurope') Western Europe
                option(Value='MEA') Middle East, Asia

            div.form-group
              label Condition
              select(class='form-control' name='Condition', value='#{item.TIStatus}')
                option(value='#{item.TIStatus}') #{item.TIStatus}
                option(value='New') New
                option(value='Good') Good
                option(value='Fair') Fair
                option(value='Poor') Poor
                option(Value='Broken') Broken

            div.form-group
              label Needs Maintenance
              select(class='form-control' name='NeedsMaintenance', value='#{item.NeedsMaintenance}')
                option(value='Yes') Yes
                option(value='No') No

            div.form-group
              label Maintenance Date | History
              
              -var maintMonth = item.MaintDateLast.getMonth() + 1
              -var maintDay = item.MaintDateLast.getDate()
              if (maintMonth < 10)
                if (day < 10)
                    input(class='form-control', name='MaintDateLast', value='#{item.MaintDateLast.getFullYear()}-0#{item.MaintDateLast.getMonth()+1}-0#{item.MaintDateLast.getDate()}' type='date')
                else    
                    input(class='form-control', name='MaintDateLast', value='#{item.MaintDateLast.getFullYear()}-0#{item.MaintDateLast.getMonth()+1}-#{item.MaintDateLast.getDate()}' type='date')
              else
                if (maintDay < 10)
                    input(class='form-control', name='MaintDateLast', value='#{item.MaintDateLast.getFullYear()}-#{item.MaintDateLast.getMonth()+1}-0#{item.MaintDateLast.getDate()}' type='date')
                else
                    input(class='form-control', name='MaintDateLast', value='#{item.MaintDateLast.getFullYear()}-#{item.MaintDateLast.getMonth()+1}-#{item.MaintDateLast.getDate()}' type='date')

              input(class='form-control', name='MaintDescription', type='text', value='#{item.MaintDescription}')
              label Maintenance Cycle
              select(class='form-control' name='MaintCycle', value='#{item.MaintCycle}')
                option(value='Yearly') Yearly
                option(value='Quarterly') Quarterly
                option(value='Monthly') Monthly

            div.form-group
                button(class='btn btn-default' name='id' type='submit', value='#{item._id}') Submit