extends layout

block content

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            //
               Brand and toggle get grouped for better mobile display 
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') MAID
            //
               Collect the nav links, forms, and other content for toggling 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/managerIndex') Home
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tools
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listMasterTool') List Tools
                    li
                      a(href='/addMasterTool') Add Tools
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Inventory
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listInventory') List Inventory
                    li
                      a(href='/addInventory') Add Inventory
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Service Request
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listRequest') List Service Requests
                    li
                      a(href='/addRequest') Add Service Request
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tool Request
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/approveRequest') Approve Tools Requests
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Reports
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/maintReportmanager') Maintenance Reports
                    li
                      a(href='/damageReport') Damage Reports
              ul.nav.navbar-nav.navbar-right 
                img.dl-horizontal(src="images/gear2.png" href='/engineerIndex')

               
            //
               /.navbar-collapse 
          //
             /.container-fluid 

    h1= title
    p 


                    doctype html
                    h1.text-center Edit Request
                    html

                        <div class="container theme-showcase" role="main">
                        <div class="jumbotron">
                        head
                            title Test
                        body
                        form(name='deleteRequest', action='/deleteRequest', method='post')
                                button(class='btn btn-default', name='id', type='submit', value='#{list._id}') Delete 
                                    //allows hiding of one data value inside button
                                    // actions need to be inside forms
                            br
                        table.table
                            thead
                                th Tool Name
                                th Date First Needed
                                th Date of Return
                                //- th Edit
                            tbody
                                each item in list.ToolRequest
                                    tr
                                        td #{item._masterTool.MTName}
                                        td #{item.Start}
                                        td #{item.End}
                                        //- td
                                            //- a(href='requestList?q=#{list._id}&id=#{item._id}') edit
                        form(name='editRequest' action='/updateRequest' method='POST' role='form')
                            div.form-group
                                label Date of Submission
                                    //if for displaying date as value (should cover all issues as date must be YYYY-MM-DD)
                                -var month = list.RDate.getMonth() + 1
                                -var day = list.RDate.getDate()
                                if (month < 10)
                                    if (day < 10)
                                        input(class='form-control', name='Install', value='#{list.RDate.getFullYear()}-0#{list.RDate.getMonth()+1}-0#{list.RDate.getDate()}' type='date')
                                    else
                                        input(class='form-control', name='Install', value='#{list.RDate.getFullYear()}-0#{list.RDate.getMonth()+1}-#{list.RDate.getDate()}' type='date')
                                else
                                    if (day < 10)
                                        input(class='form-control', name='Install', value='#{list.RDate.getFullYear()}-#{list.RDate.getMonth()+1}-0#{list.RDate.getDate()}' type='date')
                                    else
                                        input(class='form-control', name='Install', value='#{list.RDate.getFullYear()}-#{list.RDate.getMonth()+1}-#{list.RDate.getDate()}' type='date')      
                                
                                
                            div.form-group
                                label Client
                                input(class='form-control' name='client' value='#{list.RClient}' type='text')
                            div.form-group
                                label Location
                                input(class='form-control' name='location' value='#{list.RLocation}' type='text')
                            div.form-group
                                label Field Engineer Manager
                                input(class='form-control' name='FFEM' value='#{list.RFFEM}' type='text')
                            div.form-group
                                label Field Engineer
                                input(class='form-control' name='FE' value='#{list.RFE}' type='text')
                            div.form-group
                                label Severity of Incident
                                select(class='form-control' name='severity')
                                    option(value='#{list.RSeverity}') #{list.RSeverity}
                                    option(value='low') Low
                                    option(value='medium') Medium
                                    option(value='high') high
                            div.form-group
                                button(class='btn btn-default' name='id' value='#{list._id}' type='Submit') Submit