extends layout

block content

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            //
               Brand and toggle get grouped for better mobile display 
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') MAID
            //
               Collect the nav links, forms, and other content for toggling 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/engineerIndex') Home
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tools
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/addtoolrequest') Add Tool Request
                    li.divider
                    li
                      a(href='/receivedtools') Acknowledge Tools Received 
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Report
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/maintreport') Maintenance Report
              ul.nav.navbar-nav.navbar-right 
                img.dl-horizontal(src="images/wrench3.png" href='/engineerIndex')
                   
            //
               /.navbar-collapse 
          //
             /.container-fluid 


    h1.text-center Recieved Tools Form
    table.table
          each entry in request
            thead
                th Client
                th Location
                th Date of Request
                th Field Engineer Manager
                th Field Engineer
                th Severity
                th Tool(s) Received
            tbody
                tr
                    td #{entry.RClient}
                    td #{entry.RLocation}
                    td #{entry.RDate}
                    td #{entry.RFFEM}
                    td #{entry.RFE}
                    td #{entry.RSeverity}
                    td 
                        a(href='receivedTools?id=#{entry._id}') Received Tools
                tr
                    thead
                        th Tool
                        th Serial Number
                        th Approval Details
                        th Status
                        th Date Needed By
                        th Return Date
                    tbody
                        each item in entry.ToolRequest
                            if (item.Status == 'Not Approved')

                            else	
                                tr
                                    td #{item._masterTool.MTName}
                                    if (item._ToolInventory == null)
                                        td 
                                    else
                                        td #{item._ToolInventory._TISerialNumber}
                                    td #{item.Approval}
                                    td #{item.Status}
                                    td #{item.Start}
<<<<<<< HEAD
                                    td #{item.End}
=======
                                    td #{item.End}
>>>>>>> 0d895d7dbf015f2034c29abb7aaf2778f8329008
